.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
}

.skillsButton{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 7px;

    box-shadow: 0 0 7px 0 aliceblue;

    cursor: pointer;

    font-weight: 600;

    &:hover{
        border: 3px outset aliceblue;
        box-shadow: none;

    }
    .p{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
}

.headerp{
    font-size: larger;
    font-weight: 600;
}

.button{
    background-color: gold;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: 500;
    border-radius: 7px;
}
