.col80{
    width: 80%;
    margin: 0 auto;
}

.col100{
    width: 100%;
    margin: 0 auto;
}

.col60{
  width: 60%;
  margin: 0 auto;
}

.main{
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.detailsTab{
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.skillsTab{
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
  
}

.skillsArray{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  width: 100%;
  align-items: center;
  row-gap: 20px;
}

.experienceTab{
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.experienceArray{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experienceCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  background-color: azure;
  padding: 14px;
  width: 500px;
  gap: 20px;
  border-radius: 7px;
  box-shadow: 0 0 7px 0 black;
}

.p5{
  color: black;
  font-size: 23px;
  font-weight: 600;
}

.h2{
  color: gold;
}

.p{
  color: white;
}

.p2{
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.p3{
  font-weight: 600;
  font-size: 15px;
}

.p4{
    font-weight: 500;
    font-size: 15px;
    text-align: justify;
}

.p22{
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.p33{
  font-weight: 600;
  font-size: 18px;
}

.p44{
    font-weight: 500;
    font-size: 12px;
    text-align: justify;
}

.p55{
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.experienceHeading{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.projectsTab{
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.projectsArray{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  scroll-snap-type: x mandatory;

}

.projectCard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  background-color: azure;
  padding: 14px;
  width: 200px;
  height: 300px;
  gap: 20px;
  border-radius: 7px;
  box-shadow: 0 0 7px 0 black;
  scroll-snap-align: start;
}

.a button{
  padding: 3px;
  background-color: gold;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.contactTab{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contactArray{
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}